[submodule "repos/ustring"]
	path = repos/ustring
	url = git@github.com:BjoernBoss/ustring.git
[submodule "repos/wasgen"]
	path = repos/wasgen
	url = git@github.com:BjoernBoss/wasgen.git
[submodule "repos/arger"]
	path = repos/arger
	url = git@github.com:BjoernBoss/arger.git
[submodule "repos/jsonify"]
	path = repos/jsonify
	url = git@github.com:BjoernBoss/jsonify.git
